<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Mongo Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/saved">Saved</a>
                </li>
                <li class="nav-item active">
                    <button class="btn btn-danger active" id="scrape" type="button">Scrape</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center background-image">
        <div class="overlay">
            <div class="caption">
                <h1 class="display-1">Saved Articles</h1>
                <h2>MakeUseOf</h2>
            </div>
        </div>
    </div>
    <div class=row>
        <div class="col-12">
            {{#if articles}}
            {{#each articles}}
            <div class="card w-90">
                <div class="card-header text-white bg-info">
                    <h4>{{title}}</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <a href={{link}} target="_blank" class="card-link">{{link}}</a>
                    </p>
                    <p class="card-text">
                        <a href={{link}} target="_blank"></a>
                        {{byline}}
                    </p>
                    <button id="{{_id}}" class="btn btn-warning delete-btn">Delete Article</button>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="card text-white bg-secondary w-90 p-1">
                <div class="card-body text-center">
                    Nothing Saved
                </div>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="modal" id="deleted-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Your article has been deleted.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>